@model MyBlog.Data.Blog

@{
    Layout = "_Layout";
    ViewBag.PageName = "Blog Details";
}

    <div class="blog-details">
        <img class="blog-img" src="@Model.ImageUrl" />
        <div class="blog-title">@Model.Title</div>
        <div class="blog-desc">
            <p>@Model.Description</p>
        </div>
        <div class="other-info">
            <div class="date-created">@Model.DateCreated</div>
            <div class="blog-views">@Model.Views Views</div>
        </div>
    </div>

