@model List<MyBlog.Models.Blog>;

@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.PageName = "My Blog";
    
}

<div class="row">
    @foreach (var blog in @Model)
    {
        <div class="col-md-5">
            <div class="card">
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">
                    <img src="@blog.ImageUrl" class="card-img-top" height="300" width="120">
                </a>
                <div class="card-body">
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id" style="text-decoration:none;">
                        <h5 class="card-title">@blog.Title.Substring(0, blog.ResizeString())...</h5>
                    </a>
                    <div class="card-text">@blog.Date</div>
                </div>
            </div>
        </div>
    }
</div>